[run]

source =
    typer
    tests
    docs_src

omit =
    typer/_typing.py

parallel = True
context = '${CONTEXT}'

[report]
precision = 2
exclude_lines =
    pragma: no cover
    pragma: nocover
    pragma no cover
    raise NotImplementedError
    raise NotImplemented
    @overload
    if TYPE_CHECKING:
