.vscode
*.pyc
__pycache__
.venv*
env
dist
.mypy_cache
.idea
site
htmlcov
.pytest_cache
coverage.xml
.coverage*
.cache
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
