/* Fira Code, including characters used by Rich output, like the "heavy right-pointing angle bracket ornament", not included in Google Fonts */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Override default code font in Material for MkDocs to Fira Code */
:root {
    --md-code-font: "Fira Code", monospace;
}

.termynal-comment {
    color: #4a968f;
    font-style: italic;
    display: block;
}

.termy [data-termynal] {
    white-space: pre-wrap;
}

.termy .linenos {
    display: none;
}

a.external-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0[↪]";
}

a.internal-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0↪";
}

.shadow {
    box-shadow: 5px 5px 10px #999;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.user-list-center {
    justify-content: space-evenly;
}

.user {
    margin: 1em;
    min-width: 7em;
}

.user .avatar-wrapper {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.user .avatar-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user .title {
    text-align: center;
}

.user .count {
    font-size: 80%;
    text-align: center;
}
